@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --green: #074029;
  --white: #ffffff;
  --purple: #a889b7;
  --background: #c3b8cf;
}
html {
  min-height: 100%;
}
body {
  background-color: var(--background);
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  z-index: 100;
  background-color: var(--purple);
  width: 100%;
}

.post {
  background-color: var(--green);
  background-image: linear-gradient(to bottom, #cecdce, #fae1f8);
}

h2 {
  font-family: "Poiret One", sans-serif;
}
.content {
  font-family: "arial";
  font-weight: 100;
}

a {
  color: black;
}
.nav-link {
  font-size: 1.2em;
  padding-bottom: 10px;
}
