@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --green: #074029;
  /* --green: #146d4a28; */
  --white: #ffffff;
  --purple: #a889b7;
  --brightpurple: #c3b8cf;
}
html {
  min-height: 100%;
}
body {
  background-color: var(--brightpurple);
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--purple);
  width: 100%;
}

.post {
  background-color: var(--green);
  background-image: linear-gradient(to bottom, var(--green), #2ca472);
  color: white;
  border-radius: 5px;
}
/* #postTitle,
#postSlug {
  color: rgb(230, 229, 229);
  font-weight: 100;
} */
h2 {
  font-family: "Poiret One", sans-serif;
}
.content {
  font-family: "arial";
  font-weight: 100;
  /* margin: 1vh 2vw 1vh 2vw; */
}
